[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[color]
    diff = true
    status = true
    branch = true
    interactive = true
    ui = true
    pager = true
[core]
    excludesfile = ~/.gitignore
    warnambiguousrefs = true
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[push]
    default = simple
[pull]
    rebase = true
