[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "tmux/plugin-tpm"]
	path = tmux/plugin-tpm
	url = git://github.com/tmux-plugins/tpm.git
[submodule "vim/vim.symlink/pack/themes/gruvbox"]
	path = vim/vim.symlink/bundle/gruvbox
	url = git://github.com/morhetz/gruvbox.git
[submodule "vim/vim.symlink/pack/plugins/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule "vim/vim.symlink/pack/plugins/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
