/git/gitconfig.symlink
/vim/vim.symlink/autoload/
/vim/vim.symlink/swap/
/vim/vim.symlink/view/
/vim/vim.symlink/.netrwhist
/email/mutt.symlink/cache
/email/mutt.symlink/certificates
/email/mutt.symlink/temp
