[user]
    name = André Walker
    email = {{ .email }}
{{- if .work }}
    signingkey = {{ onepasswordRead "op://Employee/id_ed25519/public key" }}
{{- end }}
[color]
    diff = true
    status = true
    branch = true
    interactive = true
    ui = true
    pager = true
[core]
    excludesfile = ~/.gitignore
    warnambiguousrefs = true
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[push]
    default = simple
    autoSetupRemote = true
[pull]
    rebase = true
[init]
    defaultBranch = main
{{ if .work -}}
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
[commit]
    verbose = true
{{- if .work }}
    gpgsign = true
{{- end -}}
