ACTION=="remove", ENV{ID_BUS}=="usb", ENV{ID_MODEL_ID}=="0403", ENV{ID_REVISION}=="0431", ENV{ID_VENDOR_ID}=="1050", RUN+="/usr/local/bin/yubikey-lock"
